*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.articulo{
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 5px;
}
.aPie{
    padding: 0 50px;
}
#asideIzquierdo{
    width:19%;
}
#asideDerecho{
    width:19%;
}
.elementoMenuLateral{
    padding: 10px 0;
}
.enlaceNav, .elementoNav{
    padding: 10px 0;
}
footer{
    padding: 20px 0px 5px;
    display: flex;
    justify-content: space-around;
}
header{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.iconNav{
    width: 25px;
}
.imagenNoticia{
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
}
.imagenRedes{
    width: 40%;
}
.imagenRedes:hover{
    transform: scale(1.1);
}
.imagenRedesFooter{
    width: 25px;
}
.imagenRedesFooter:hover{
    transform: scale(1.15);
}
#infoPoliticas{
    display: flex;
}
#login{
    text-align: center;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;

}
#logo{
    width: 100px;
    animation: bounceIn 0.75s;
    transform: rotate(0deg) scale(1) translateZ(0);
    transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
    cursor: pointer;
}
@keyframes bounceIn {
    0% {
      opacity: 1;
      transform: scale(.3);
    } 
    50% {
        opacity: 1;
        transform: scale(1.05);
    } 

    70% {
    opacity: 1;
    transform: scale(.9);
    }

    100% {
    opacity: 1;
    transform: scale(1);
    }
}

#logo{
    width: 150px;
    height: 150px;
}
main{
    width:60%;
}
#menuArticulos, #siguenos{
    margin: 10px;
    padding: 10px;
}
#menuNav{
    display: flex;
    justify-content: space-around;
    
}
#principal{
    display: flex;
}
#publicidad{
    text-align: center;
}
#redesSocialesAside{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items: center;
}
svg{
    width: 85%;
    min-height: 300px;
}
.textoOculto{
    display: none;
}
#titulo{
    display: flex;
    align-items: center;
}
ul > li > ul{
    display: none;
}
ul > li:hover > ul{
    display: block;
    position: relative;
    left: 10px;
}
#userIcon{
    width:150px;
    height: 100px;
    grid-row: span 2;
}